.navbar {
    /* Display */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* Padding */
    padding: 20px 0px 20px 20px;
    background-color: #333;
}

.navbar-title {
    /* Text */
    color: white;
    font-size: 24px;
}

.navbar-links {
    /* Display */
    display: flex;
    list-style: none;
}

.navbar-link {
    /* Marin & Padding */
    margin: 0 15px;
    padding: 10px 10px 70px 10px;

    /* Text */
    color: white;
    text-decoration: none;
    font-weight: bold;

    /* Border */
    border-radius: 10px;

    /* Transition */
    transition: 0.3s;
}

.navbar-link:hover {
    /* BG */
    background-color: white;

    /* Text */
    color: Black;

    /* Border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


/* Nav Logo */
.navbar-logo-image {
    /* Size */
    width: 50px;
    height: auto;

    /* Margin & Padding */
    margin: 0px 10px 0px 0px;

    /* Border */
    border-radius: 50px;
}


/* Logout Button */
.logout-btn {
    /* Margin & Padding */
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 5px 10px;

    /* BG */
    background-color: whitesmoke;

    /* Text */
    color: black;

    /* Border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    /* Cursor */
    cursor: pointer;

    /* Transition */
    transition: 0.3 ease-in-out;
}

.logout-btn:hover {
    /* BG */
    background-color: black;

    /* Text */
    color: white;

    /* Border */
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 1);
}