/* Search Bar */
.joblist-body-search {
    /* Margin & Padding */
    margin: 20px 0px 0px 0px;
}


/* Job List Body Container */
.joblist-body-container {
    /* Display */
    display: flex;

    /* Margin & Padding */
    margin: 20px 40px 40px 40px;
}

/* Job List Right Container */
.joblist-card-detail-container {
    /* Flex */
    flex: 1;

    /* Margin & Padding */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    /* BG */
    background-color: white;

    /* Border */
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
}


/* Job List Left Container */
.joblist-list-container {
    /* Flex */
    flex: 1;

    /* Margin & Padding */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    /* BG */

}


/* Job Cards */
.joblist-card-container {
    /* Margin & Padding */
    margin: 0px 0px 0px 0px;
}


/* Buttons */
.joblist-page-btn-container {
    /* Margin & Padding */
    margin: 20px 0px 20px 20px;
}